{% extends 'base.html' %} 
{% block title %}चरित्र{% endblock title %}
{% block css %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock css %}
{% block charitrActive %}active{% endblock charitrActive %}
{% block body %}
<section class="text-gray-600 body-font" style="text-align:center;">
  <div
    class="
      container
      mx-auto
      flex flex-col
      px-5
      py-24
      justify-center
      items-center
    "
  >
    <img
      style="max-width: 80vw;"
      class="mb-10 object-cover object-center rounded"
      alt="hero"
      src="\static\img\gal1.jpg"
    />
    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
      बाळासाहेब आपटे - चरित्र
    </h1>
    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        बालपण - संस्कार !
      </h1>
      <p class="mb-8 leading-relaxed">
        राजगुरूनगरच्या सामाजिक, शैक्षणिक, सहकार, सांस्कृतिक आणि राजकीय अशा सर्व
        विविध क्षेत्राचा ज्या ठिकाणी उगम झाला, तो गावची मायभुमी असलेला स्वर्गीय
        अॅड. परशुराम भगीरथ आपटे ह्यांचा आपटेवाडा या नावाने सर्वत्र परिचीत असलेला
        हा वाडा आजही गावामध्ये सन्मानाने डोलत आहे. या ऐतिहासीक वाड्यामध्ये
        दिनांक १८ जानेवारी १९३९ रोजी एक बाळ जन्माला आला आणि तोच बाळ खेडच्या
        गल्लीपासून ते दिल्लीच्या तक्तापर्यंत अभिमानाने सांगावा असा एक महान आदर्श
        ठरला. धर्मपरायण, समाज समर्पित परंपरेने समृध्द असलेल्या कुटुंबात १९३९
        साली, १८ जानेवारी रोजी बलवंत परशुराम आपटे या बाळाचा जन्म झाला. त्याआधी
        पाच बहिणी आणि एक बंधू अशा सहा भावंडांचे आपटे कुळात आगमन झालेले होते.
        सुसंस्कृत कुटूंबात जन्माला येणं आणि अनेकांना त्यान प्रेरणा देणं ह्याचं
        भाग्य बाळासाहेबांना लाभलं. वयाच्या तिसर्‍या-चौथ्या वर्षापासूनच दोघे भाऊ
        जोडीने संघाच्या शाखेत जाऊ लागले. ११-१२ वर्षांचा भाऊ आणि ३-४ वर्षे वयाचा
        बाळ. शाखेत रोज जाता-येता गप्पा होत त्या देशभक्तीच्या. एकतर ते
        स्वातंत्र्य आंदोलनाचे मंतरलेले दिवस होते. भाऊने संघ संस्थापक डॉक्टर
        हेडगेवारांची भाषणेही ऐकली होती. शाखेवरही गीते-भाषणे (बौध्दिक) इतकेच काय
        मैदानी खेळांमधूनही राष्ट्रभक्तीचेच संस्कार जोपासले जात होते. घरातले
        वातावरण कट्टर धर्मनिष्ठ आणि राष्ट्रनिष्ठ. अगदी लहान वयापासूनच या
        वातावरणाची सवय अंगी रुजल्यामुळे असेल, लहानग्या बाळलाही पारंपारिक
        आन्हिकांचा जाच वाटत नसे, उलट त्यात गोडी वाटायची. या दोघांचे चुलत आजोबा
        दाजी नागेश आपटे कडवे सावरकर भक्तच होते. ज्यांच्या पुढाकाराने खेडमध्ये
        राष्ट्रीय स्वयंसेवक संघाची शाखा १९३७ मध्ये सुरु झाली ते आपटे वाड्याच्या
        लगतच्या वाड्यात राहात. एकुण घरात व परिसरात धर्मपरायणता, समाजभक्ती आणि
        राष्ट्रनिष्ठा यांचेच वारे भरभरुन वाहत होते. दोघा भावांवर या सार्‍या
        वातावरणाचा संस्कार अगदी खोलवर आणि कायमचा उमटला. बाळ जन्मतःच कुशाग्र
        बुध्दिमत्ता घेऊन आला होता. लहान वयापासूनच विशुद्ध तर्काच्या आधारे विचार
        करण्याची सवय त्याच्या अंगी मुरली होती. तर्काच्या आग्रहामुळे सवय त्याच्या
        अंगी मुरली होती. तर्काच्या आग्रहामुळे बोलण्या-वागण्यातही एक प्रकारचा
        परखडपणा आला तोही लहान वयापासूनच.
      </p>
    </div>
    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        शिक्षण !
      </h1>
      <p class="mb-8 leading-relaxed text-align-center">
        जन्मापासून १९५४ पर्यंत, म्हणजे पंधरा वर्षाचे पर्यंत बाळ खेडलाच रहात
        होता. आपले दहावी पर्यंयतचे शिक्षण त्यांनी राजगुरुनगर येथील महात्मा गांधी
        विद्यालयातच घेतले. शालेय शिक्षण, घरातली वेदपठणाची नित्यपरंपरा, दादांनी
        चालविलेला समाजिक कामांचा पसारा, त्याची वकिली, सचोटी इ. चा बाळ च्या मनावर
        सखोल ठसा उमटला. शिक्षण घेत असतानाच अभ्यासेतर वाचनाची गोडी लागली. असे जरी
        असले तरी बाळ आपल्या बुध्दीमत्तेच्या बळावर सर्व इयत्ता सहजपणे उत्तीर्ण
        होत गेला तेही चांगल्या गुणांसह. वयाच्या १२ व्या वर्षी साहित्य प्राज्ञ ही
        त्या काळी बी.ए. पदवीशी समकक्ष मानली जाणारी परीक्षा त्याने उत्तीर्ण केली.
        भाषा, साहित्य या विषयां मध्ये त्यांना विशेष रुची आणि गती होती.
        साहित्याविषयीची त्यांची जाण कशी अभिरुची संपन्न होती याची साक्ष पुढील
        काळात त्यांच्या वक्तृत्वा मधून, पत्रव्यवहारातून मिळत राहिली आहे. एरव्ही
        अत्यंत नेमस्त, शिस्तप्रिय, तर्ककठोर, परखड ( आणि कधी कधी फटकळ हि)
        भासणाऱ्या त्यांच्या व्यक्तिमत्वाला नर्म विनोदाची प्रसन्न किनार होती.
        १९५४ साली मॅट्रिकची परीक्षा उत्तीर्ण झाल्यानंतर ते पुढील शिक्षणासाठी
        विद्येचे माहेरघर समजले जाणारे पुणे येथे झाले. घरच्या स्मृती, संस्कार
        यांतून आलेली प्रगल्भता यांच्या जोरावर त्यांनी पुण्यातले फर्गुसन
        महाविद्यालयात जीवन सुरु केले. खेडच्या स्मृती, १५-१६ वर्षांचे संस्कार,
        आणि चित्तवृत्ती त्यातून प्राप्त झालेली परिपक्वता यांचे संचित सोबत होते.
        घराण्याची वकिली परंपरा, तीच बाळने पुढे न्यावी अशी उत्कट इच्छा वडील
        बंधूंच्या मनात होती. म्हणूनच एल.एम्‌.एम्‌. होण्याचा ध्यास घेतला. १९५७
        साली बाळ इंटर आर्टसला उत्तीर्ण झाला आणि त्यांना मुंबई खुणाऊ लागली.
        थोरल्या बंधूच्या - भाऊंच्या घरी ठाण्यात वास्तव्यास राहून मुंबईच्या रुईया
        कॉलेजमध्ये ज्युनिअर बी.ए. चे अध्ययन सुरु झाले. रुईयातील दोन वर्षे ही
        बाळासाहेबांच्या शैक्षणिक जीवनातील सर्वात समृध्द काळ असा म्हटला पाहीजे.
        याच काळात मो.दि.पराडकर, रा.शं.वाळींबे, श्री.पु.भागवत, मंगेश पाडगावकर
        यांसारख्या विद्वानांचे गुरुत्व त्यांना मिळाले. त्याबरोबरच मनोहर जोशी,
        मुरलीधर गोडे, विष्णु रत्नपारखी, अशोक चिटणीस ह्यांच्या सहवास सहाध्यायी
        रुपाने लाभला. त्यावेळची मैत्री ह्या सर्वांनी आयुष्यभर कसोशीने जपली. १९५९
        साली बी.ए.ची परीक्षा उत्तीर्ण झाल्यावर एम.ए. तसेच एल.एल.बी. च्या वर्गात
        बाळनी प्रवेश घेतला. १९६१ साली एम.ए. ची तसेच १९६२ साली एल.एल.बी. ची
        परीक्षा उत्तीर्ण होऊन बाळ आपटे हे अॅड. बाळासाहेब आपटे - एम.ए., एल.एल.बी
        झाले. थोरल्या बंधूच्या - भाऊंच्या घरी ठाण्यात वास्तव्यास राहून मुंबईच्या
        रुईया कॉलेजमध्ये ज्युनिअर बी.ए. चे अध्ययन सुरु झाले. रुईयातील दोन वर्षे
        ही बाळासाहेबांच्या शैक्षणिक जीवनातील सर्वात समृध्द काळ असा म्हटला
        पाहीजे. याच काळात मो.दि.पराडकर, रा.शं.वाळींबे, श्री.पु.भागवत, मंगेश
        पाडगावकर यांसारख्या विद्वानांचे गुरुत्व त्यांना मिळाले. त्याबरोबरच मनोहर
        जोशी, मुरलीधर गोडे, विष्णु रत्नपारखी, अशोक चिटणीस ह्यांच्या सहवास
        सहाध्यायी रुपाने लाभला. त्यावेळची मैत्री ह्या सर्वांनी आयुष्यभर कसोशीने
        जपली. १९५९ साली बी.ए.ची परीक्षा उत्तीर्ण झाल्यावर एम.ए. तसेच एल.एल.बी.
        च्या वर्गात बाळनी प्रवेश घेतला. १९६१ साली एम.ए. ची तसेच १९६२ साली
        एल.एल.बी. ची परीक्षा उत्तीर्ण होऊन बाळ आपटे हे अॅड. बाळासाहेब आपटे -
        एम.ए., एल.एल.बी झाले.
      </p>
    </div>
    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        वैवाहिक / कौंटुबिक !
      </h1>
      <p class="mb-8 leading-relaxed text-align-center">
        महाविद्यालयीन काळात एम.ए. चे शिक्षण घेत असताना त्यांची ओळख अखिल भारतीय
        विद्यार्थी परिषदेशी झाली. याच काळात बाळासाहेब आपटे हे कीर्ती कॉलेजमध्ये
        पहिल्या वर्गांना मराठी शिकविण्यासाठी जात. याच वर्गात त्यांची ओळख
        अ.भा.वि.प. चे कार्यकर्ते अॅड. श्रीकांत धारप यांच्या भगिनी निर्मला धारप
        यांच्याशी झाली. श्रीकांत धारप व सुरेश मोडक यांच्यामुळे बाळासाहेब
        परिषदेच्या कामात रस घेऊ लागले. अत्यंत तन्मयतेने आणि उत्साहाने ते
        परिषदेचे काम करत. त्यामुळे कामाच्या कार्यक्रमांच्या निमित्ताने दिवसातला
        एक भाग बनून जायला बाळला वेळ लागला नाही. अशा एकत्र राहाण्या वावरण्यातून
        आणि सोबतीने समाजकार्यात घुसळले जाण्यातून अतूट मैत्री निर्माण होते.
        त्यातच निर्मला आणि बाळ यांच्यातील मैत्रीत गहिर्‍या स्नेहाचे धागे विणले
        जाऊ लागले. ओळखीचे मैत्रीत आणि मैत्रीचे प्रेमात रुपांतर झाले. १९६७ साली
        बाळ - निर्मला विवाहबद्ध झाले. सुरवातीची काही वर्षे जेष्ठ बंधूंच्या -
        भाऊंच्या ठाणे येथील घरातच संसार करुन १९७० साली आपल्या एकुलत्या एक
        अपत्याला जान्हवीला घेऊन मुंबईत माहिमला राहावायास गेले. एकीकडे कौंटुबिक
        जबाबदारी सांभाळत दुसरीकडे विद्यार्थी परिषदेचे कार्यही त्यांचे चालू होते.
        त्यांच्या सुविद्य पत्नी निर्मला ह्यांनी ही त्यांना आयुष्यभर मोलाची साथ
        दिली. बाळासाहेबांची कन्या डॉ. जान्हवी ही मुंबई येथे वैद्यकीय क्षेत्रात
        काम करत आहे. बाळासाहेब, निर्मला काकू, डॉ. जान्हवी ह्यांनी घरात आलेल्या
        सर्वांचेच अगदी अगत्याने आणि आत्मियतेने स्वागत केले. समाजकार्य करीत
        असताना बाळासाहेबांनी प्रापंचिक जबाबदारी ही तितकीच समर्थपणे पार पाडली.
      </p>
    </div>
  </div>
</section>
{% endblock body %}
