{% extends 'base.html' %} 
{% block title %}राजगुरू{% endblock title %} 
{% block css %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock css %}
{% block rajguruActive %}active{% endblock rajguruActive %} 
{% block body %}

<section class="text-gray-600 body-font">
  <div
    class="
      container
      mx-auto
      flex flex-col
      px-5
      py-24
      justify-center
      items-center
    "
  >
    <img
      style="max-width: 80vw;"
      class="mb-10 object-cover object-center rounded"
      alt="hero"
      src="\static\img\hutatmarajguru.jpg"
    />
    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        क्रांतिवीर हुतात्मा शिवराम हरी राजगुरू यांच्या स्मृती!
      </h1>
      <p class="mb-8 leading-relaxed">
        शिवराम हरी राजगुरू (जन्म : खेड-पुणॆ, २४ ऑगस्ट १९०८; मृत्यू : लाहोर, २३
        मार्च १९३१) हे भारतीय स्वातंत्र्यलढ्यात फाशी गेलेले क्रांतिकारक होते.
        त्यांचे नामकरन "रघुनाथ" या नावाने करण्यात आले लहानपणी ते रघुनाथ नावानेही
        ओळखले जात होते . ते हिंदुस्थान सोशालिस्ट रिपब्लिकन आर्मी या संघटनेच्या
        क्रांतिकार्यात सहभागी झाले होते. डॉक्टर हर्डीकर यांच्या सेवा दलामध्ये
        असतानाच त्यांचा संबंध हा हिंदुस्तान रिपब्लिकन पार्टी या क्रांतिकारी
        संघटनेशी आला. चंद्रशेखर आझाद, भगत सिंग आणि सुखदेव अशा क्रांतिकारकांच्या
        सहवासात आल्याने ते सशस्त्र उठाव करण्यास प्रेरित झाले. लाला लजपत राय
        यांच्यावर साँडर्स नावाच्या पोलिस अधिकाऱ्यांनी लाठीहल्ला केला, त्यात जखमी
        होऊन ते मरण पावले. त्याचा बदला घेण्यासाठी १७ फेब्रुवारी १९२८ रोजी
        राजगुरू, भगतसिंग यांनी लाहोर येथे साँडर्सवर गोळ्या घालून त्यांना ठार
        केले.
      </p>
      <p class="mb-8 leading-relaxed">
        नॅशनल बँकेची लूट, क्रांतिकारक जोगेश चंद्रा चॅटर्जी यांची सुटका यांतही
        राजगुरूंचा सहभाग होता, २३ मार्च १९३१ रोजी भगतसिंग व सुखदेव, राजगुरु
        यांना फाशी देण्यात आली.
      </p>
      <img
        style="max-width: 80vw;"
        class="mb-10 object-cover object-center rounded"
        alt="hero"
        src="\static\img\rajguruwada.jpg"
      />
      <p class="mb-8 leading-relaxed">
        राजगुरू वाडा हे राजगुरूंचा जन्म झालेले त्यांचे वडिलोपार्जित घर आहे.२,७८८
        चौरस मीटर क्षेत्रावर पसरलेली ही वास्तू पुणे-नाशिक रोडवरील भीमा नदीच्या
        काठावर आहे. शिवराम राजगुरू यांचे स्मारक म्हणून ते राखले जात आहे.
        हुतात्मा राजगुरू स्मारक समिती (एचआरएसएस) ही स्थानिक संस्था २००४ पासून
        प्रजासत्ताक दिनी येथे राष्ट्रध्वज फडकावते
      </p>
      <p class="mb-8 leading-relaxed">
        तंत्र्यलढ्यातील सहभाग :- लहानपणी १४ व्या वर्षी इंग्रजी विषयातील
        अपयशामुळे वडील भावाने आपल्या नवविवाहित वाधुसमोर त्यांना इंग्रजी धडा
        वाचायची शिक्षा केली. हा अपमान राजगुरुंना सहन झाला नाही. अंगावरच्या
        कपड्यानिशी, आईने तेल आणण्यासाठी दिलेले ९ पैसे व बहिणीने अंजिरा साठी
        दिलेल्या २ पैशासह त्यांनी आपले घर सोडले. आधी नाशिक आणि त्यानंतर थेट
        काशिलाच (शिक्षणासाठी ) ते पोहचले. त्यांचा बराचसा वेळ हा लोकमान्य टिळक
        ग्रंथालयात महाराष्ट्र विद्या मंडळातील व्याख्याने वादविवाद ऎकण्यात आणि
        भारतसेवा मंडळाच्या व्यायामशाळेत लाठी -काठी, दांडपट्टा यांच्या शिक्षणात
        जात होता. त्या काळी कलकत्ता, पटना, कानपूर, लखनऊ, झाशी, मीरत,दिल्ली,
        लाहोर हि गावे क्रांतीकारकांची माहेरघरे होती. आणि काशी येथील पं मदनमोहन
        मालवियांचे हिंदू विद्यापीठ हेच साऱ्यांचे आश्रयस्थान व गुप्त केंद्र होते.
        मध्यतरीच्या काळात राजगुरूनि अमरावतीच्या श्री हनुमान आखाड्यात
        व्यायामविषारदाची पदवी मिळवली व हुबळीला डॉ. हर्डीकरांकडे सेवादलाचे
        शिक्षणहि घेतले. त्यानंतर ते पुन्हा काशीत परतले. दरम्यान चंद्रशेखर आझाद
        यांचा राजगुरुशी परिचय झाला आणि आझादांनी राजगुरूना क्रांतिकारकांचा गटात
        घेतले "आपणासारिखे करिता तत्काळ असे आझाद, अन दुजासारखे होते तत्काळ असे
        राजगुरू" एकत्र आले आणि त्यांचे ३६ गुण जुळले. इंग्रज सरकारशी ३६चा आकडा
        हेच या गुणांचे फलित होते आणि या ध्येयासाठी व हौतत्म्यासाठी राजगुरू कायमच
        उतावळे असायचे या संदर्भातील त्यांच्या भावना, त्यांचे वागणे वेगळेच होते.
      </p>
      <p class="mb-8 leading-relaxed">
        आझाद आणि राजगुरू कशीत एकत्र आले, पण थेट कार्यवाही करायची वेळ आली आणि
        त्याजोगे काम निघाले पार्टीतील एका फितुराचा वध करण्याचे त्यांचावर सोपवले
        त्यासाठी त्यांना दिल्लीला जाव लागणार होत त्यांचा सोबत शिव वर्मा देखील
        होते,पिस्तुल एकच असल्याने राजगुरुनी शिव वर्माला लाहोरला पाठवले दुसर्या
        पिस्तुलचा बंदोबस्त करण्यासाठी मात्र त्याआधीच राजगुरूनी त्यांचे काम फत्ते
        केले. राजगुरूनी एकाच गोळीत काम तमाम करून मथुरेकडील रेल्वेरुलातून पाल
        काढला. पोलीस गोळ्या जाडु लागले, त्यावेळी त्यांनी रेल्वे रुळाखाली उडी
        टाकली आणि ते सरपटत एका शेतात शिरले. ते शेत पाण्याने तुडुंब बरलेले होते.
        एव्हाना पोलीस त्याठिकाणी येऊन पोहचले आणि चारी बाजूने प्रकाश टाकून
        गोलीभारही सुरु झाला. हि शोधमोहीम जवळजवळ २-३ तास सुरु होती. तोपर्यंरत
        राजगुरू चिखल -पाण्यात, कात्याकुत्यात राहू शकतील अशी कल्पना देखील पोलिस
        करू शकत नव्हते. दोन दिवस ते सतत प्रवास करत राहिले तिसऱ्या दिवशी वर्मांना
        त्यांनी हे प्रकरण सांगितले हे एकूण ते थक्कच झाले. सायमन कमिशनच्या
        विरोधात लाठीचार्ज झाला त्यामध्ये लाल लजपतराय यांचा मृत्यू झाला त्यादिवशी
        देशबंधू चीत्तरंजन दास यांचा पत्नी लाहोर मध्ये गरजल्या "लालाजीकी चित्ता
        कि आग थंडी होणे से पहले किसी भी भारतीय नौजवान ने इस क्रूरता का बदला लेन
        चाहिये" त्याच्या या शब्दांनी भगतसिंग व्याकूळ झाले. त्यांनी स्कॉटला
        मारण्याचा प्रस्ताव पार्टीत मांडला. स्कॉटला मारल्यानंतर न्यायालयासमोर
        तर्कसंगत भाषण देणे गरजेचे होते, कि स्कॉटला का मारावे लागले? आणि हे काम
        भगतसिंग करू शकत होते.
      </p>
      <p class="mb-8 leading-relaxed">
        योजना अशी आखण्यात आली कि मालरोड पोलीस स्टेशनवर जय गोपाळ पहारा ठेवून
        स्कॉटच्याहालचालींवर लक्ष ठेवेल आणि भगतसिंग व राजगुरू त्याच्या इशार्‍यावर
        गोळीबार करतील. पण ४ दिवस स्कॉट त्या भागात फिरकलाच नाही. शेवटी पाचव्या
        दिवशी कार्यालयातून एक गोरा अधिकारी बाहेर आला. जय गोपाळने भगतसिंहांना खूण
        केली की हाच स्कॉट असावा, यावर भगतसिंहांनी खुणेनेच सांगितले की हा नसावा,
        पण ही 'नसावा' ची खूण राजगुरूंच्या लक्षातच आली नाही. राजगुरूंनी
        साहेबाच्या दिशेने गोळी झाडली. लगेचच भगतसिहांनी आपल्या पिस्तुलातून ८
        गोळ्या झाडून साहेबाला पूर्ण आडवे केले. एव्हाना गोळ्यांचा आवाज ऐकून
        चौकीतील लोक बाहेर जमले. त्यातला एक अधिकारी राजगुरूंच्या अंगावर चालून
        गेला. राजगुरूंचे पिस्तूल नेमके या वेळी चालत नव्हते. त्यामुळे राजगुरूंनी
        झटकन पिस्तूल खिशात ठेवून त्या अधिकाऱ्याला कमरेला धरून इतक्या जोरात
        आपटले, की तो सर्व गोंधळ संपेपर्यंत तो उठलाच नाही. या सर्व गडबडीत भगतसिंह
        यांच्या पिस्तुलातील 'मॅगझिन' खाली पडले. राजगुरूंच्या हे लक्षात
        आल्यानंतर, त्यांनी प्रसंगावधान राखत, स्वत:चा जीव धोक्यात घालून, ते
        मॅगझिन शिताफीने उचलले. या राजगुरूंच्या कृतीमुळे चंद्रशेखर आझादांसह
        त्यांचे सर्व सहकारी राजगुरूंवर खूष झाले. मेला तो स्कॉट नसून साँडर्स होता
        हे कळल्यावर त्या दोहोंना अर्थातच विशेष दु:ख झाले नाही. सॉंडर्स हत्येनंतर
        लाहोरहून भगतसिंग एका मिलिटरी ऑफिसरच्या वेषात राजकोटला निसटले. (या वेळी
        भगवतीचरण व्होरा यांच्या पत्नी दुर्गाभाभी यांनी भगतसिंहांच्या पत्नी
        असल्याचे नाटक तान्ह्या लेकरासह केले होते.) राजगुरू त्यांचे नोकर आणि आझाद
        हे मथुरेतील पंड्याच्या रूपात भगतसिंहाबरोबर होते. तिघेही दिवसाढवळ्या,
        `जागृत' पोलिसांच्या डोळ्यात धूळ फेकून, एकाच गाडीतून लाहोरहून राजकोटला
        निसटले.
      </p>
      <p class="mb-8 leading-relaxed">
        त्यानंतरच्या काळात राजगुरूंनी लाठीकाठीचा वर्ग अगदी काशीच्या मुख्य पोलीस
        स्टेशनसमोर कंपनीबागेत सुरू ठेवला. राजगुरूंच्या या धारिष्ट्यास काही सीमाच
        नव्हती. बरेच महिने राजगुरू काशीत उघडपणे, निर्भयतेने वावरत होते. इतकेच
        नव्हे तर त्यांच्या धनुष्यबाणाचे कौशल्यही लोकांनी गणेशोत्सवात पाहिले. पण
        कोणासही कल्पना नव्हती की इतका साधा दिसणारा मनुष्य मोठा क्रांतिकारक असेल!
        अनेक महिने ते पोलिसांना गुंगारा देण्यात यशस्वी ठरले. पण अखेर सप्टेंबर,
        १९२९ मध्ये ते पुणे येथे पोलिसांच्या ताब्यात सापडले. पुढे जेलमध्ये आमरण
        उपोषण, न्यायालयाच्या कामकाजावर बहिष्कार ह्या घटना घडल्या. भगतसिंग,
        सुखदेव व अन्य काही क्रांतिकारक त्यांच्या समवेत होतेच. सर्व
        क्रांतिकारकांना आपले भविष्य माहीत होतेच, पण शिवराम राजगुरूंना मित्र
        भेटल्याचा आनंद झाला, तसेच राजगुरू भेटल्यामुळे इतरांमध्येही एक चैतन्य
        निर्माण झाले. सर्वांना राजकीय कैदी म्हणून वागणूक मिळावी यासाठी
        क्रांतिकारकांनी उपोषण सुरू केले. राजगुरू अर्थातच पुढाकार घेत होते.
        डॉक्टर रोज सकाळी १०-१२ सहकार्‍यांना घेऊन रबरी नळीने, जबरदस्तीने दूध
        पाजण्याचा प्रयत्न करत. या पोलिसांच्या प्रयत्नांमुळे राजगुरूंसह सर्वांनाच
        प्रचंड त्रास सहन करावा लागला. शारीरिक हाल-अपेष्टांचा सामना करावा लागला.
        पण याही स्थितीत सर्वच जण उपोषणाच्या निर्णयावर ठाम होते.
      </p>
      <p class="mb-8 leading-relaxed">
        लाहोर खटल्याचा निकाल लावण्यात आला व शिवराम राजगुरू यांच्यासह भगतसिंग व
        सुखदेव यांना अतिशय गुप्तता राखत फाशी देण्यात आले. २३ मार्च, १९३१ च्या
        सायंकाळी राजगुरू, भगतसिंग व सुखदेव हसत हसत फाशीला सामोरे गेले.
      </p>
    </div>
  </div>
</section>

{% endblock body %}
