{% extends 'base.html' %} 
{% block title %}आपटे वाडा{% endblock title %} 
{% block css %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock css %}
{%block wadaActive %}active{% endblock wadaActive %} 
{% block body %}

<section class="text-gray-600 body-font">
  <div
    class="
      container
      mx-auto
      flex flex-col
      px-5
      py-24
      justify-center
      items-center
    "
  >
    <img
      style="max-width: 80vw;"
      class="mb-10 object-cover object-center rounded"
      alt="hero"
      src="/static/img/wada.jpg"
    />
    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        आपटे वाडा
      </h1>
      <p class="mb-8 leading-relaxed">
        राजगुरूनगरचा इतिहास लिहायचा म्हटलं तर ते दादासाहेब आपटे आणि त्यांचे
        कुटुंबीय यांचा उल्लेख खचितच अभिमानाने करावा लागेल. आपल्या कौटुंबिक
        सुखापेक्षा समाजाची बांधिलकी मानणारे आपटे कुटुंब होते. राजगुरूनगरच्या
        सामाजिक, शैक्षणिक, सहकार, सांस्कृतीक आणि राजकिय अशा सर्व विविध
        क्षेत्राचा ज्या ठिकाणी उगम झाला, तो गावची मायभुमी असलेला स्वर्गीय अॅड.
        परशुराम भगीरथ आपटे ह्यांचा आपटेवाडा या नावाने सर्वत्र परिचीत असलेला हा
        वाडा आज ही गावामध्ये सन्मानाने डोलत आहे. या ऐतिहासीक वाड्यामध्ये दिनांक
        १८/०१/१९३९ रोजी एक बाळ जन्माला आला आणि तोच बाळ खेडच्या गल्लीपासून ते
        दिल्लीच्या तक्तापर्यंत अभिमानाने सांगावा असा एक महान आदर्श ठरला.
      </p>
      <p>
        श्री दादासाहेबंच्या वडिलांना सारेजण अप्पा म्हणत. चांगली शरीरयष्टी अन
        साहसी मन हि त्यांची वैशिष्ट्ये होती. वाड्यातील चौकात उजव्या हाताला एकेक
        खोली होती. तिथे औषधी वनस्पती, वाळलेल्या सी पडलेल्या असत. त्यापासून
        आयुर्वेदिक औषधे तयार करायची अन ती रुग्ण लोकाना द्यायची हा त्यांचा उद्योग
        सतत चाले. आपण असा काही करावे कि ज्यामुळे लोकांचा फायदा होईल हा त्यांचा
        स्थायीभाव होता. राजगुरुनगर तसे उंचावर आहे. त्यामुळे पाण्याचा प्रश्न
        अतिशय बिकट होता. नदीवरून पाणी आणणे हे एक दिव्या होते. सकाळ झाली कि
        स्त्रिया घागर कळशी घेऊन नदीच्या दिशेने जायला लागत. अतोनात हाल व्हायचे.
        हे अप्पासाहेबांनी पहिले होते. यावर काहीतरी तोडगा काढला पाहिजे ह्याची
        रुखरुख त्यांचे मन अस्वस्थ करीत होती. त्यांच्या डोक्यात नळाची कल्पना आली
        आणि त्यांनी अक्षरशः भगीरथ प्रयत्न केले. वाड्यात आणि आलीत नळ आणले.
      </p>
      <p>
        खेडच्या इतिहासात आपटे वाड्याचे महत्व मोठे आहे. गावात प्राथमिक शाळा
        नव्हती, इंग्रजी चौथीपर्यंत शिकल्यानंतर पुढील शिक्षणासाठी जुन्नरला जावे
        लागे. यामुळे स्वाभाविकच अनेकांचे विशेषतः मुलींचे शिक्षण चौथ्या इयत्तेतच
        थांबत असे. दादांनी गावात माध्यमिक शाळा सुरु करण्यात पुढाकार घेतला. खेड
        एज्युकेशन सोसायटी या संस्थेची स्थापन केली. १९३८ साली खेड मध्ये इंग्रजी
        पाचव्या आणि सहाव्या इयत्तेचे वर्ग सुरु झाले. आपटे वाड्यात दोन तर शेजारीच
        असलेल्या देशपांडे वाड्यात दोन वर्ग भरत. पुढे चार वर्षांनी शाळेची इमारत
        उभी राहिपर्यंत शाळा आपटे वाड्यातच भरत होती. १९३८ ते १९५४ अशी तब्बल सोला
        वर्षे दादा आपटे शाळेचे मानद सचिव होते.
      </p>
      <p>
        दादांचे दुसरे अत्यंत महत्वाचे कार्य म्हणजे खेड अर्बन को. ऑपरेटिव्ह
        बँकेची स्थापना. सहकारी बँकेची स्थापना करण्याचे पर्यत्न त्यावेळी अनेकांनी
        केले होते. मात्र तत्कालीन ब्रिटीश कलेक्टरने दादाा आपटेंच्या अर्जालाच
        मंजूरी दिली. किमान 11 सभासद त्यासाठी आवश्यक होते. आवश्यक तेवढ्या रकमेचे
        भाग खरेदी करु शकणारे सात सदस्य उपलब्ध झाले. मग चार सभासदांचे पैसे
        दादांनी स्वतः भरले. बँक सुरु झाली ती आपटे वकीलांच्या वाडातच. वकिली
        कचेरीच्या ओटीवरच बँकेचा एक डेस्क मांडला गेला. आपटे वाड्यात एकाच वेळी
        वकिलीचा, शाळेचा आणि नागरी सहकारी बँकेचा असे तीन डेस्क सुरु झाले.
      </p>
      <p>
        खेडच्या इतिहासात आपटे वाड्याचे महत्व मोठे आहे. इंग्रजी पाचवी व सहावीची
        शाळा, खेड अर्बन को ऑपरेटिव्ह बँक यांची सुरुवात याच आपटे वाड्यामधून झाली.
        याच वाड्यात जन्माला आलेले बाळ आपटे यांनी दिल्ली पर्यंत मजल मारुन ह्या
        वास्तूचे महत्व सार्थ केले.बाळासाहेबां बरोबरच त्यांचे थोरले बंधू व भगिनी
        यांचेही बालपण याच वाड्यात गेले. आज ही सर्व मंडळी समाजात प्रतिष्ठेने
        वावरत आहेत. अशा विविध मान्यवरांचे पदस्पर्शाने पावन झालेल्या आपटे
        वाड्याचे सांस्कृतिक आणि ऐतिहासिक महत्व उल्लेखनिय आहे.
      </p>
    </div>
  </div>
</section>
{% endblock body %}
